<div class="home-container">
  <h1>Hello {{ username || "Guest" }}</h1>
  <p class="welcome-text">How are you doing today? Would you like to share something with the community? <span class="emoji">🧑‍🤝‍🧑</span></p>
  <div class="new-post-container">
    <div class="create-post">
      <textarea [(ngModel)]="newPost" placeholder="How are you feeling today?"></textarea>
      <button (click)="addPost()">Post</button>
    </div>
  </div>

  <div class="posts-container">
    <div class="post" *ngFor="let post of posts">
      <div class="post-header">
        <div class="avatar">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#f0f0f0" width="40px" height="40px">
            <path d="M12 12c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm0 2c-3.33 0-9 1.67-9 5v2h18v-2c0-3.33-5.67-5-9-5z"/>
          </svg>
        </div>
        <div class="post-info">
          <strong>{{ post.username }}</strong>
          <small>{{ post.time }}</small>
        </div>
      </div>
      <div class="post-content-container">
        <p class="post-content">{{ post.content }}</p>
      </div>
    </div>
  </div>
  <button class="logout-button" (click)="logout()">Logout</button>

  <div *ngIf="showRegisterModal" class="modal-background">
    <app-register (navigate)="handleNavigation($event)"></app-register>
  </div>
</div>
